pydantic==2.11.7
mysql-connector-python==8.0.33
pyparsing==3.2.3
cfgv==3.4.0
ale-py==0.11.2
certifi==2025.8.3
optuna-dashboard==0.9.2
future-fstrings==1.2.0
shtab==1.7.2
distlib==0.3.9
scikit-learn==1.7.0
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cuda-nvrtc-cu12==12.8.61
gpytorch==1.13
jax-jumpy==1.0.0
appdirs==1.4.4
Jinja2==3.1.6
nvidia-cuda-cupti-cu12==12.8.57
triton==3.3.1
pytest==7.4.4
protobuf==6.31.1
Farama-Notifications==0.0.4
scikit-optimize==0.9.0
linear-operator==0.5.3
psutil==7.0.0
sentry-sdk==2.34.1
fsspec==2024.6.1
Mosek==10.2.17
cleanrl==1.2.0
pytz==2025.2
exceptiongroup==1.3.0
markdown-it-py==3.0.0
pydantic_core==2.33.2
charset-normalizer==3.4.2
setproctitle==1.3.6
nvidia-cusparselt-cu12==0.6.3
typeguard==4.4.4
MarkupSafe==3.0.2
mpmath==1.3.0
urllib3==2.5.0
bottle==0.13.4
nvidia-cusolver-cu12==11.7.2.55
python-dotenv==1.1.1
termcolor==1.1.0
sympy==1.13.3
pathtools==0.1.2
requests==2.32.4
click==8.2.1
gitdb==4.0.12
typing-inspection==0.4.1
moviepy==1.0.3
threadpoolctl==3.6.0
proglog==0.1.12
imageio-ffmpeg==0.6.0
nodeenv==1.9.1
stable-baselines3==1.2.0
Cython==3.1.2
six==1.17.0
tzdata==2025.2
filelock==3.18.0
pandas==2.3.1
python-dateutil==2.9.0.post0
tqdm==4.67.1
wandb==0.21.0
jaxtyping==0.2.19
nvidia-cufft-cu12==11.3.3.41
Werkzeug==3.1.3
cvxpy==1.6.6
pybullet==3.2.7
joblib==1.5.1
PyMySQL==1.1.1
SQLAlchemy==2.0.41
iniconfig==2.1.0
greenlet==3.2.3
scs==3.2.7.post2
smmap==5.0.2
nvidia-cuda-runtime-cu12==12.8.57
gymnasium==1.2.0
gym-notices==0.1.0
dict-deep==4.1.2
pycparser==2.22
idna==3.10
pygame==2.1.0
torchvision==0.22.1+cu128
cycler==0.12.1
setuptools==78.1.1
nvidia-nvjitlink-cu12==12.8.61
fonttools==4.58.5
Pygments==2.19.2
packaging==25.0
tensorboard==2.19.0
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-nccl-cu12==2.26.2
torch==2.7.1+cu128
alembic==1.16.3
absl-py==2.3.1
munch==2.5.0
pre-commit==3.8.0
pillow==11.3.0
colorlog==6.9.0
tomli==2.2.1
nvidia-cudnn-cu12==9.7.1.26
imageio==2.37.0
Mako==1.3.10
optuna==3.6.2
virtualenv==20.31.2
wheel==0.45.1
huggingface-hub==0.11.1
decorator==4.4.2
identify==2.6.12
matplotlib==3.10.3
nvidia-cudnn-cu11==8.5.0.96
tyro==0.9.27
hj_avoid==0.1.0
nvidia-cusparse-cu12==12.5.7.53
cloudpickle==3.1.1
scipy==1.15.3
nvidia-cublas-cu11==11.10.3.66
numpy==2.2.6
pyaml==25.5.0
Markdown==3.8.2
pycddlib==2.1.8.post1
rich==14.1.0
clarabel==0.11.1
annotated-types==0.7.0
opencv-python==4.12.0.88
casadi==3.7.0
platformdirs==4.3.8
mdurl==0.1.2
grpcio==1.73.1
tensorboard-data-server==0.7.2
torchaudio==2.7.1+cu128
typing_extensions==4.14.1
pip==25.1.1
pytope==0.0.4
cffi==1.17.1
docker-pycreds==0.4.0
nvidia-nvtx-cu12==12.8.55
kiwisolver==1.4.8
docstring_parser==0.17.0
networkx==3.3
pluggy==1.6.0
GitPython==3.1.45
osqp==1.0.4
nvidia-cublas-cu12==12.8.3.14
contourpy==1.3.2
PyYAML==6.0.2
acados_template==0.1
